body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calBody{
    width: 350px;
    height: 500px;
    background-color: rgb(29, 49, 49);
    border-radius: 25px;
}

#display{
    width: 310px;
    height: 100px;
    background-color: rgb(71, 150, 71);
    border-radius: 10px;
    margin: 20px auto;
}

button{
    background-color: grey;
    color: white;
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}

.row{
    display: flex;
    gap: 26px;
}