body{
    margin: 0;
    height: 100vh;
}

#calBody{
    width: 350px;
    height: 500px;
    background-color: rgb(29, 49, 49);
}

#display{
    width: 310px;
    height: 100px;
    background-color: rgb(71, 150, 71);
}